@use "/src/global" as *;

.side-panel {
    height: 100%;
    border: 1px solid $color-base-4;
    border-bottom: none;
    box-sizing: border-box;
    padding: 6px;
    background-color: $color-base-2;
    position: relative;
    flex: none;
    display: flex;
    flex-direction: column;
    z-index: 9999;

    &--closed:hover {
        background-color: $color-primary-3;
    }

    &--right {
        right: 0;
    }
    &--left {
        left: 0;
    }

    &__title {
        &--vertical {
            left: 0;
            line-height: 10px;
            font-size: 10px;
            position: absolute;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            text-orientation: mixed;
        }
    }

    &__resize-handle {
        height: 100%;
        width: 4px;
        position: absolute;
        top: 0;

        &:not([class$="--disabled"]):hover {
            cursor: col-resize;
            background-color: $color-primary-3;
        }

        &--right {
            left: -2px;
        }

        &--left {
            right: -2px;
        }
    }

    &__content {
        flex: 1;
        height: 100%;
    }
}
