@use "/src/global" as *;
@use "sass:color";

.control-knob {
    border-radius: 50%;

    &--disabled {
        outline: none;
        background: $color-primary-3;
    }

    &--small {
        width: 20px;
        height: 20px;
    }

    &__inner {
        height: 100%;
        width: 100%;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &__pointer {
        width: 3px;
        height: 55%;
        border-radius: 30%;
        background: $color-primary-4;
        box-shadow: 0 0px 2px color.adjust($color-accent-red, $lightness: -50%);
        position: absolute;
        top: -5%;

        &--disabled {
            background-color: $color-primary-3;
        }
    }
}
