.sequencer-progress {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;

    &__indicator {
        height: 10%;
        background-color: white;
        box-shadow: 0 0 5px white;
        position: absolute;
        top: 0;
        width: 20px;
        transition: left 0.016s linear;
    }
}
