@use "/src/global" as *;
.menu-items {
    width: auto;
    white-space: nowrap;
    box-sizing: border-box;
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.5);
    background-color: $color-base-1;
    color: $color-light-1;
    border-radius: 8px;

    &--relative {
        position: relative;
    }
    &--absolute {
        position: absolute;
    }

    &__content {
        box-sizing: border-box;
    }
}

.menu-item {
    padding: 5px 12px;
    height: 20px;

    border: 1px solid $color-base-4;
    &:first-of-type {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    &:not(:first-of-type) {
        border-top: none;
    }
    &:last-of-type {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    &:hover {
        background-color: $color-base-4;
    }
}
