@use "/src/global" as *;

.applet {
    min-height: 0;
    grid-template-rows: 32px auto;
    grid-template-areas:
        "title-bar"
        "content";
    border-radius: 10px;
    border: 2px solid $color-base-4;
    box-shadow: 0 0 5px 5px rgba(27, 27, 27, 0.5);
    background-color: $color-base-2;
    position: absolute;
    min-height: fit-content;
    box-sizing: border-box;

    &__edge {
        position: absolute;
        z-index: 1;

        &--n {
            width: 100%;
            left: 0;
            height: 5px;
            cursor: n-resize;
        }
        &--e {
            width: 5px;
            height: 100%;
            right: 0;
            cursor: e-resize;
        }
        &--s {
            width: 100%;
            height: 5px;
            bottom: 0;
            cursor: s-resize;
        }
        &--w {
            width: 5px;
            height: 100%;
            left: 0;
            cursor: w-resize;
        }
    }

    &__corner {
        width: 10px;
        height: 10px;
        position: absolute;
        z-index: 2;
        &--ne {
            top: 0;
            right: 0;
            cursor: ne-resize;
        }
        &--se {
            bottom: 0;
            right: 0;
            cursor: se-resize;
        }
        &--sw {
            bottom: 0;
            left: 0;
            cursor: sw-resize;
        }
        &--nw {
            top: 0;
            left: 0;
            cursor: nw-resize;
        }
    }

    &__title-bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 8px;
        box-sizing: border-box;
        cursor: move;
    }

    &__title-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__window-buttons-wrapper {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    &__window-buttons {
        display: flex;
        gap: 5px;
        height: 100%;
        padding: 6px 0;
        box-sizing: border-box;
    }

    &__window-button {
        &--close {
            &:hover {
                outline: 1px solid $color-accent-yellow !important;
            }
        }
    }

    &__content {
        padding: 8px;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        min-height: 0;
        min-width: 0;
        overflow-y: auto;
    }
}
