@use "/src/global" as *;

.sequencer-track-header {
    width: 120px;
    vertical-align: middle;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 4px;
    margin: 4px;

    &--selected {
        border: 1px solid $color-primary;
    }
    span {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &--drag-over {
        border-radius: 4px;
        outline: 2px dashed $color-primary;
        background-color: $color-primary;
    }
}
