@use "/src/global" as *;

.sample-browser {
    margin-top: 40px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    border: 1px solid $color-primary;
    background-color: $color-secondary;
    border-radius: 4px;

    .sample-list {
        all: unset;
        display: flex;
        flex-direction: column;
        width: 100%;

        .sample {
            all: unset;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
