@use "/src/global" as *;

.sequencer-progress {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;

    &__indicator {
        height: 10%;
        background-color: $color-accent-green;
        box-shadow:
            -6px 0 5px $color-accent-green,
            6px 0 5px $color-accent-green;
        position: absolute;
        top: 0;
        width: 20px;
        transition: left 0.016s linear;
    }
}
